body {
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 0;
  height: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5em;
  margin: 25px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}


.top-container {
  background-color: #EFFFFD;
  position:relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%
}

.bottom-container {
  margin-left: 20%;
  margin-right: 20%
}

/* .engineer {
  text-decoration: underline;
} */

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
  top: 45%;
}

.mountain-img {
  position: relative;
  height: 70%;
  top: 30%;
}

.profilepic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.skill_pic {
  height: 200px;
  width: 200px;
}
